* {
    background-color: #76ba99;
  }
  
  .practise {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 20rem;
  }
  