* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.practise {
  margin-top: 3rem;
}
body {
  background-color: #76ba99;
}

.practise,
#container {
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  align-items: center;
}

.practise{
  margin-bottom: 3rem;
}


#container {
  margin:auto;
  width: 30rem;
  height: 35rem;
  background-color: antiquewhite;
  padding: 2rem;
  
}
.message1 {
  color: green;
}
