* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #76ba99;
}

.app-name {
  text-align: center;
  margin: 5rem 0;
}

.card {
  width: 18rem;
  margin-top: 20rem;
  width: 1rem;
  background-color: antiquewhite;
  height: 25rem;
  font-size: xx-large;
  text-align: center;
  align-items: center;
  border-radius: 2rem;
}

.card-title {
  margin-top: 3rem;
}

.message1 {
  color: green;
}
