* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.practise {
  margin-top: 3rem;
}
body {
  background-color: #76ba99;
}
/* #container*/
.practise,main {
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  align-items: center;
}

.practise {
  margin-bottom: 3rem;
}

main {
  margin: auto;
  
  width: 20rem;
  background-color: antiquewhite;
 height: 20rem;
 padding: 2rem;
 border-radius: 2rem;
}
.message1 {
  color: green;
}

